.react-switch-handle-on {
  width: 100%;
  padding: 10px;
  background-color: white;
}

.react-switch-handle-off {
  width: 100%;
  padding: 10px;
  background-color: white;
}

/* .react-switch {
  padding: 10px;
} */
