.body {
  width: 100%;
}

/* start of logoContainer */

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.logoDiv {
  width: 80px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 16px;
  background-color: #d8dfeb;
}
.logoName {
  font-size: 24px;
}
.logoName span:nth-child(1) {
  color: rgb(42, 102, 195);
}
.logoName span:nth-child(3) {
  color: rgb(79, 129, 209);
}

/* end of logoContainer */

/* start of studentInfoContainer */

.studentInfoContainer {
  background-color: #d8dfeb;
  padding: 4px;
}
.schoolLogoContainer {
  background-color: #fff;
  width: 100%;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.studentContainer {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.studentContainer > span {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(1, 72, 183);
}

/* end of studentInfoContainer */

/* start of navIconsContainer */

.navIconsContainer {
  width: 100%;
  padding: 40px 0 0 2px;
}
/* end of navIconsContainer */

/* start of media queries for tab */
@media screen and (max-width: 800px) {
  .logoContainer {
    justify-content: center;
    gap: 10px;
    padding: 12px;
  }
  .logoName {
    font-size: 16px;
  }
  .logoDiv {
    width: 50px;
    aspect-ratio: 1/1;
  }
  /* .studentInfoContainer {
    height: 270px;
  } */
  .schoolLogoContainer {
    /* height: 40% !important; */
    padding: 12px 0;
  }
  .schoolLogoContainer > img {
    width: 40%;
  }
  .studentContainer {
    gap: 10px;
  }
  .studentContainer > img {
    width: 20%;
  }
  .studentContainer > span {
    font-size: 14px;
  }
  .navIconsContainer {
    padding: 20px 0 0 2px;
    overflow-y: scroll;
  }
  .tabScreen {
    padding-left: 40px !important;
  }
}
/* end of media queries for tab */
