.sort-button {
    display: flex;
    align-items: center;
    background-color: #d8dfeb;
    border-radius: 3rem;
    padding: 0.8rem 1.5rem;
    transition:
        background-color 0.2s,
        transform 0.2s,
        box-shadow 0.2s;
    cursor: pointer;
    user-select: none;
}

.sort-button span {
    padding-right: 0.5rem;
    color: #111827;
    font-weight: 600;
}

.sort-button svg {
    fill: #232d40;
}

.sort-button:hover {
    background-color: #bfc4c9; /* Lighter background color */
    box-shadow:
        rgba(45, 35, 66, 0.1) 0 2px 4px,
        /* Lighter shadow */ rgba(45, 35, 66, 0.05) 0 4px 8px,
        /* Lighter shadow */ rgba(45, 35, 66, 0.03) 0 7px 13px -3px,
        /* Lighter shadow */ #848a8d 0 -3px 0 inset; /* Accent color */
    transform: translateY(-1px);
}

.sort-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.sort-button:active {
    transform: translateY(0.15px);
}
