.body {
  box-shadow: 0px 20px 30px 0px #0000000f;
  padding-top: 40px;
}
.imgContainer {
  width: 30%;
  padding: 8px;
  background-color: #dce6f6;
  border-radius: 50%;
}
.imgContainer > img {
  width: 100%;
}
