.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid black;
}
.lightBodyHover:hover {
  background-color: #edf0f5;
}
.darkBodyHover:hover {
  background-color: #212224;
}
.chatInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.unread {
  padding: 8px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 32px;
  margin: 0 auto;
}
.chatInfoContainer {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
