.body {
  background-color: rgb(216, 223, 235);
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.darkBody {
  background-color: rgb(49, 57, 71);
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
}

/* start of searchBarContainer */

.searchBarContainer {
  width: 65%;
  display: flex;
  border-right: 1px solid black;
}
.darkSearchBarContainer {
  width: 65%;
  display: flex;
  border-right: 1px solid lightgray;
}
.searchBarContainer > input {
  width: 85%;
  padding: 10px 8px 10px 16px;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
}
.darkSearchBarContainer > input {
  background-color: rgb(44, 51, 64);
  color: rgb(163, 184, 217);
  width: 85%;
  padding: 10px 8px 10px 16px;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
}
.searchBarContainer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(79, 129, 209);
  border-radius: 0 8px 8px 0;
  width: 10%;
}
.darkSearchBarContainer > button {
  background-color: rgb(1, 72, 183);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 8px 8px 0;
  width: 10%;
}
.searchBarContainer > button > svg,
.darkSearchBarContainer > button > svg {
  color: white;
}

/* end of searchBarContainer */

/* start of navIcons */

.navIcons {
  width: 17.5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid black;
}
.navIcons > div {
  position: relative;
}
.navIcons > div::after {
  content: "";
  width: 8px;
  aspect-ratio: 1/1;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  right: 0;
}
.navIconContainer > a > svg {
  color: rgb(99, 119, 153);
}
.darkNavIconContainer > a > svg {
  color: rgb(163, 184, 217);
}

.navIconContainer > .activeLink > svg,
.darkNavIconContainer > a > svg {
  color: black;
}

/* end of navIcons */

/* start of profileInfoContainer */

.profileInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 17.5%;
}
.studentName {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.darkProfileInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 17.5%;
  color: white;
}

/* end of profileInfoContainer */

/* start of media queries for tab screen */

@media screen and (max-width: 800px) {
  .body,
  .darkBody {
    padding: 12px;
    /* justify-content: space-evenly; */
  }
  .searchBarContainer,
  .darkSearchBarContainer {
    width: 40%;
  }
  .searchBarContainer > input,
  .darkSearchBarContainer > input {
    font-size: small;
    width: 80%;
  }
  .searchBarContainer > button,
  .darkSearchBarContainer > button {
    width: 15%;
  }
  .searchBarContainer > button > svg,
  .darkSearchBarContainer > button > svg {
    width: 18px;
    aspect-ratio: 1/1;
  }
  .nameInfoContainer {
    font-size: 12px;
  }
  .profileInfoContainer,
  .darkProfileInfoContainer,
  .navIcons {
    width: 30%;
  }
  .profileInfoContainer,
  .darkProfileInfoContainer {
    gap: 0px;
    justify-content: center;
  }
  .profilePicContainer {
    display: flex;
    justify-content: center;
  }
  .profileInfoContainer img,
  .darkProfileInfoContainer img {
    width: 70%;
  }
}

/* end of media queries for tab screen */
