.profileDeetContainer {
  border-radius: 12px;
}
.profileDeetContainer > div:first-child {
  background-image: url("../../../../assets//images/profile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 130px; */
  border-radius: 12px;
}
.iconContainer:hover {
  transform: scale(1.1);
}
