.body {
  /* height: 100%; */
  width: 100%;
  padding: 24px;
}
.body > form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.inputContainer {
  width: 80%;
  padding: 16px;
  position: relative;
}
.inputContainer > input {
  width: 100%;
  border: none;
  padding: 8px 15% 8px 10%;
  outline: none;
  border-radius: 24px;
}
.emojiIcon,
.micIcon,
.addIcon {
  position: absolute;
  top: 30%;
}
.emojiIcon {
  left: 5%;
}
.micIcon {
  right: 12%;
}
.addIcon {
  right: 5%;
}
.lightIcon > svg {
  color: #637799;
}
.darkIcon > svg {
  color: #a3b8d9;
}
.sendIcon {
  border: none;
  outline: none;
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .body {
    padding: 12px 0;
  }
  .inputContainer {
    width: 100%;
    padding: 6px 0;
    /* position: relative; */
  }
  .inputContainer > input {
    padding-right: 55px;
  }
  .emojiIcon,
  .micIcon,
  .addIcon {
    top: 25%;
  }
  .emojiIcon > svg,
  .micIcon > svg,
  .addIcon > svg {
    width: 16px;
    aspect-ratio: 1/1;
  }
  .emojiIcon {
    left: 2%;
  }
  .micIcon {
    right: 15%;
  }
  .addIcon {
    right: 2%;
  }
  .sendIcon > svg {
    width: 16px;
    aspect-ratio: 1/1;
  }
}
