.body {
  /* height: 100%; */
  width: 100%;
  padding: 24px;
}
.body > form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.inputContainer {
  width: 80%;
  padding: 16px;
  position: relative;
}
.inputContainer > input {
  width: 100%;
  border: none;
  /* border: 1px solid black; */
  padding: 8px 15% 8px 10%;
  outline: none;
  border-radius: 24px;
}
.emojiIcon,
.micIcon,
.addIcon {
  position: absolute;
  top: 30%;
}
.emojiIcon {
  left: 5%;
}
.micIcon {
  right: 12%;
}
.addIcon {
  right: 5%;
}
.lightIcon > svg {
  color: #637799;
}
.darkIcon > svg {
  color: #a3b8d9;
}
.sendIcon {
  border: none;
  outline: none;
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}
